/* 
comman 
********************************* */
html,body{
    height: 100%;
}
.content{
    max-width: 600px;
    
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.header{
    display: flex;
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
}
.header img{
    height: 60px;
}
.header h1{
    padding-left: 10px;
}
/* 
post 
***********************************/
.post_form{
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
}
.post_form input{
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.post_form textarea{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    
}
#uploadfile{
    width: 40%;
    border: hidden;
    overflow: hidden;
    background-color: none;
    padding-top: 20px;
}
#button{
    width: 20%;
    background-color: rgb(29, 161, 242);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5%;
    padding: 9px;
    cursor: pointer;
}
#cancel{
    width: 10%;
    background-color: rgb(145, 162, 173);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5%;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-left: 65%;
}
.posts ul{
    padding: 0;
}

.posts li {
    position: relative; 
    display: flex;
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
    list-style: none;
}
.posts li .menu_icon{
    width: 20px;
    position: absolute; 
    right: 30px;
    top: 18px;
}
.posts li .menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: #ccc;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}
.posts li .menu a{
    text-decoration: none;
}

.posts li  .logo{
    flex-basis: 15%;

}
.posts li .logo img{
    width: 60%;
}
.posts li .name_body{
    flex-basis: 85%;
}
.posts li .name_body .name{
    font-weight: bold;
}
.posts li .name_body .datetime {
    color:gray;
}
@media screen and (max-width: 500px){
    .posts li .name_body .name{
        font-size: 20px;
    }
    #button{
       width: 20%;
       font-size: 12px;
       padding: 5px;
    }
    .tweet{
        display: block;
        justify-content: center;

    }
    #cancel{
        width: 15%;
        font-size: 12px;
        margin-left: 10px;
        padding: 6px;
    }
    
}