{% extends 'base.html' %} {% block content %}{% load static %}

<section class="content">
  <div class="header">
    <img src="{% static 'img/techis-logo.png' %}" alt="">
    <h1>Edit</h1>
  </div>

  <section class="post_form">
    <form action="/edit/{{posts.id}}/" method="POST"  enctype="multipart/form-data"> 
      {% csrf_token %}
      <input type="text" name="name" placeholder="Name" value = "{{posts.name}}"required /><br />
      <textarea name="body"  placeholder="Whats happening" value="{{posts.body}}" ></textarea
      ><br />
      <input id ="uploadfile" type="file" name ="image">
      <br>
      {% if posts.image.url %}
          <img src="{{posts.image.url}}" alt="" style="width: 210px;height: 200px;">
          {% endif %} 
          <br>
    
      <div class="tweet">
          <a href="{% url 'index' %}" id="cancel" type="submit" >Cancel</a>
      <input id ="button" type="submit" value="Update" />
      </div>
    </form>
  </section>

  {% endblock %}